<div class="divider"></div>
<div class="page-title">Recent Stories</div>
<br>
<div class="span-12">
  <div class="story-listing-bg span-6 off-4">
    <% @stories.each do |story| %>
  <div class="story-listing">
      <div class="story-listing-tite-container span-12">
        <div class="story-listing-title span-9">
          <%= story.title %>
        </div>
        <div class="story-listing-genre span-2">
            <%= story.genre %>
        </div>
      </div>
      <br>
    <span class="story-listing-author">
      By <%= story.author %><br>
      Created: <%= story.createdate %>
    </span><br><br>
    <div class="story-listing-body span-11">
      <em><%= story.chapters.first.body if story.chapters.first%></em>
    </div><br>
    <a href="/stories/view/<%= story.id %>" id="read-more">Read Story</a>
  </div>


  <% end %>
</div>
